<h1>Book <%= @animal.name %>, the <%= @animal.species %></h1>
<p>When do you want to book our dear <strong><%= @animal.name %></strong>?</p>
<%= simple_form_for ([@animal, @booking]) do |f| %>

  <%= f.input :start_date%>
  <%= f.input :end_date%>

  <%= f.submit %>
<% end %>
