<h1>Booking for <%= @booking.user.email %></h1>
<p>Status: <%= @booking.valid %></p>
<p>Starting on: <%= @booking.start_date.strftime("%d.%m.%Y") %></p>
<p>Ending on: <%= @booking.end_date.strftime("%d.%m.%Y") %></p>
<p>Your Uglymal: <%= @booking.animal.name %> is a <%= @booking.animal.species %> and <%= @booking.animal.age %> years old.</p>
<p>Total price: <%= @booking.total_price.to_i %>€</p>
<div class="cta">
  <%= link_to 'Go to all animals', animals_path %>
  <%= link_to 'Go to all your bookings', your_bookings_path %>
  <%= link_to "Cancel Booking", booking_path(@booking), confirm: "Are you sure you want to cancel your booking?", method: :delete %>
</div>
