<h1>Booking for <%= @booking.user.email %></h1>
<div class="p-3">
  <% if @booking.status == 1 %>
    <div>Status: <%= @booking.valid %> <i class="fa fa-solid fa-spinner"></i></div>
  <% elsif @booking.status == 0 %>
    <div>Status: <%= @booking.valid %> <i class="fa fa-solid fa-thumbs-down"></i></div>
  <% else %>
    <div>Status: <%= @booking.valid %> <i class="fa fa-solid fa-check-double"></i></div>
  <% end %>
</div>
<p>Starting on: <%= @booking.start_date.strftime("%d.%m.%Y") %></p>
<p>Ending on: <%= @booking.end_date.strftime("%d.%m.%Y") %></p>
<p>Your Uglymal: <%= @booking.animal.name %> is a <%= @booking.animal.species %> and <%= @booking.animal.age %> years old.</p>
<p>Total price: <%= @booking.total_price.to_i %>€</p>
<div class="cta">
  <%= link_to 'Go to all animals', animals_path %>
  <%= link_to 'Go to all your bookings', your_bookings_path %>
  <%= link_to "Cancel Booking", booking_path(@booking), confirm: "Are you sure you want to cancel your booking?", method: :delete %>
</div>
