<div class="container">
  <h1><%= @user.first_name.capitalize %>s Dashboard</h1>
    <div class="container">
      <h2>My animals</h2>
      <div class="cards">
        <% @my_animals.each do |animal| %>
          <div class="card">

            <div class="image">
            <% if animal.photo.key %>
                <%= cl_image_tag animal.photo.key, height: "100%", width: "100%" %>
              <% end %>
            </div>

            <div class="info">
              <div id="list-details">
                <h4><strong><%= "#{animal.name}" %></strong></h4>
                <p><strong>Species: </strong><%= "#{animal.species.capitalize}" %></p>
                <p><strong>Age: </strong><%= "#{animal.age}" %> years</p>
                <p><strong>Price: </strong><%= "#{animal.price.to_i}" %>€ (per day)</p>
              </div>
              <div class="cta"><%= link_to "Details", your_animal_path(animal) %></div>
            </div>

          </div>
        <% end %>
      </div>
      <div class="cta">
        <%= link_to "Create a new animal", new_animal_path %>
      </div>
    </div>
    <div class="container">
      <h2>My bookings</h2>
      <div class="cards">
        <% @my_bookings.each do |booking| %>
          <div class="card">
            <div class="image">
            <% if booking.animal.photo.key %>
                <%= cl_image_tag booking.animal.photo.key, height: "100%", width: "100%" %>
              <% end %>
            </div>
            <div class="info">
              <div class="list-details">
                <h4><strong><%= booking.animal.name %></strong></h4>
                <p>Owner: <%= booking.animal.user.first_name.capitalize %></p>
                <p>Return on: <strong><%= booking.end_date.strftime("%d.%m.%Y") %></strong>
                (<%= (booking.end_date - Date.today).to_i %> days left)</p>
              </div>
              <div class="cta">
                <%= link_to "Details", booking_path(booking) %>
              </div>
            </div>
          </div>
        <% end %>

      </div>

    </div>
  <div class="cta">
    <%= link_to "see cute UGLYMALS", animals_path%>
    <%= link_to "Booking requests for you", requests_path%>

  </div>
</div>
