<div class="container">
  <h1>Dashboard</h1>
  <p><%= @user.email %></p>
  <div class="card">
    <h2>My animals</h2>
    <ul>
      <% @my_animals.each do |animal| %>
        <li>
        <%= animal.name %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Create a new animal", new_animal_path %>
  </div>
  <div class="card">
    <h2>My bookings</h2>
    <ul>
      <% @my_bookings.each do |booking| %>
        <li><%= booking.animal.name %> from <%= booking.start_date %> until <%= booking.end_date %></li>
      <% end %>
    </ul>
  </div>
  <%= link_to "see cute UGLYMALS", animals_path%>
</div>
