<%= simple_form_for :animal, url: animals_path, method: :get do |f| %>
  <div class="search-bar">
    <%= f.input :name, :required => false %>
    <%= f.input :species, collection: @species.uniq, :required => false %>
    <%= f.input :age1, :label => "Min. age", collection: @age, :required => false %>
    <%= f.input :age2, :label => "Max. age", collection: @age, :required => false %>
    <%= f.submit "Search", class: "cta banana" %>
  </div>
<% end %>
