<h1>The <strong>Ugly</strong>mals</h1>
<h2>All these animals are excited for a nice evening out</h2>
<div class="cards">
  <%= render "search_form", animal: @animal %>
  <% @animals.each do |animal| %>
    <div class="card">
      <% if animal.photo.key %>
        <%= cl_image_tag animal.photo.key, height: 64, width: 64, radius: :max, crop: :fill %>
      <% end %>
      <p><strong>Name: </strong><%= "#{animal.name}" %>, the <%= "#{animal.species}" %> </p>
      <p><strong>Age: </strong><%= "#{animal.age}" %> years</p>
      <p><strong>Price: </strong><%= "#{animal.price}" %>€</p>

    <div class="cta_full_width"><%= link_to 'Show', animal_path(animal) %></div>
    </div>
  <% end %>
</div>



<!-- <div class="cta"><%= link_to 'Back to Home', root_path %></div> -->
