<h1>The <strong>Ugly</strong>mals</h1>
<h2>All these animals are excited for a nice evening out</h2>
<%= render "search_form", animal: @animal %>
<div class="cards">
  <% @animals.each do |animal| %>
    <div class="card">

      <div class="image">
       <% if animal.photo.key %>
          <%= cl_image_tag animal.photo.key, height: "100%", width: "100%" %>
        <% end %>
      </div>

      <div class="info">
        <div id="list-details">
          <h4><strong><%= "#{animal.name}" %></strong></h4>
          <p><strong>Species: </strong><%= "#{animal.species.capitalize}" %></p>
          <p><strong>Age: </strong><%= "#{animal.age}" %> years</p>
          <p><strong>Price: </strong><%= "#{animal.price.to_i}" %>€ (per day)</p>
        </div>
        <div class="cta_full_width"><%= link_to "Show me #{animal.name}", animal_path(animal) %></div>
      </div>

    </div>
  <% end %>
</div>



<!-- <div class="cta"><%= link_to 'Back to Home', root_path %></div> -->
