<div>
  <h1><%= @animal.name %></h1>

  <% if @animal.bookings.first %>
    <% @animal.bookings.each do |b| %>
      <p> is booked with: <%= b.user.first_name.capitalize %> (<%= b.user.email %>)</p>
      <p> from: <%= b.start_date %></p>
      <p> until: <%= b.end_date %></p>
    <% end %>
  <% else %>
    <%= @animal.name %><p> does not have any bookings:( </p>
  <% end %>
</div>
<div>
  <%= link_to "Delete Animal", animal_path(@animal), class: "btn btn-primary", confirm: "Are you sure you want to delete your animal?", method: :delete %>
  <%= link_to "Edit your animal", edit_animal_path(@animal), class: "btn btn-primary" %>
  <%= link_to "Back to your dashboard", dashboard_path, class: "btn btn-primary" %>
</div>
