<div class="container">
  <div class="card">
    <%= render "show", animal: @animal %>
    <% if @animal.bookings.first %>
      <% @animal.bookings.each do |b| %>
        <p> is booked with: <%= b.user.first_name.capitalize %> (<%= b.user.email %>)</p>
        <p> from: <%= b.start_date %></p>
        <p> until: <%= b.end_date %></p>
      <% end %>
    <% else %>
      <p><%= @animal.name %> does not have any bookings:( </p>
    <% end %>
    <div class="cta-dashboard">
      <%= link_to "Delete Animal", animal_path(@animal), confirm: "Are you sure you want to delete your animal?", method: :delete %>
      <%= link_to "Edit your animal", edit_animal_path(@animal) %>
      <%= link_to "Back to your dashboard", dashboard_path %>
    </div>
  </div>
</div>
